body {
    background-color: #f4f4f9;
}

#events-list .event {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

button#addEventButton {
    width: 100%;
    margin-top: 20px;
}
